.Details section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
  padding: 20px 30px;
}

.Details .phone_number .phone_img {
  width: 50px;
}
.Details .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.Details .content .content_text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.Details .confirmBtn {
  display: flex;
  justify-content: center;
  border-bottom: none;
}
.Details .confirmBtn .confirmBtnCon {
  display: flex;
  gap: 10px;
}
.Details .confirmBtn .lineBar {
  /* width: 100px; */
}
