.Details section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
  padding: 20px 15px;
}
.Details .installDate {
  /* display: flex; */
  /* justify-content: ; */
}
.Details .phone_number .phone_img {
  width: 50px;
}
.Details .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.Details .content .content_text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.Details .confirmBtn {
  display: flex;
  justify-content: center;
  border-bottom: none;
}
.Details .confirmBtn .confirmBtnCon {
  display: flex;
  gap: 10px;
}
/* 메모 */
.Details .memo {
  display: flex;
  align-items: center;
}

.Details .address .address_text {
  width: 230px;
  height: 50px;
  resize: vertical;
  font-size: 15px;
}
.Details .memo .memo_text {
  width: 230px;
  height: 150px;
  resize: vertical;
  font-size: 15px;
}
/* 주소 */
.Details .address {
  display: flex;
}
.Details .address .addressInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-weight: bold;
}
.tmapImg {
  width: 50px;
  border-radius: 50px;
}
