.Home {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* counselInfo */
.Home .counselInfo {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 30px 20px;
}
.Home .counselInfo > div {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 40px 10px;
}
.Home .counselInfo .conuselText {
  font-size: 16px;
  color: white;
  /* white-space: nowrap; */
}

.Home .counselInfo .counselIncomplete {
  background-color: rgb(64, 105, 225);
}
.Home .counselInfo .counselComplete {
  background-color: grey;
}
.Home .counselInfo .counselCnt {
  font-size: 25px;
  color: white;
  white-space: nowrap;
}
.Home .counselInfo .counselIncomplete .completeText {
  font-size: 20px;
}
.Home .counselInfo .counselComplete {
  background-color: grey;
}
/* reservationComplete */
.Home .reservationComplete > div {
  font-size: 30px;
  border-top: 1px solid grey;
  cursor: pointer;
}

.Home .reservationInstallInfo > div {
  padding: 20px 0px;
}
.Home .reservationInstallInfo > div:hover {
  background-color: rgb(64, 105, 225);
  color: white;
  cursor: pointer;
}

/* installComplete */
.Home .reservationInstallInfo .reservationConfirmed {
  border: 1px solid grey;
}
.Home .installComplete > div:hover {
  background-color: rgb(64, 105, 225);
}
.Home .installComplete > div {
  font-size: 30px;
  cursor: pointer;
}
/* reservationInstallInfo */
.installConfirmCnt {
  background-color: rgb(64, 105, 225);
  color: white;
  padding: 10px 10px;
  border-radius: 50%;
  margin-left: 10px;
  font-size: 20px;
}
.installText {
  font-size: 20px;
}
.reservationConfirmedFinished {
  border-bottom: 1px solid grey;
}
