.button {
  border: none;
  cursor: pointer;
  padding: 10px 10px;
  background-color: rgb(64, 105, 225);
  color: white;
  border-radius: 100px;
  font-size: 25px;
}
.button_reserveConfirm {
  padding: 20px 10px;
  background-color: grey;
}

.button_delete {
  background-color: grey;
  color: white;
}

.button_memoBtn {
  font-size: 15px;
}
.button_addressBtn {
  font-size: 15px;
  background-color: grey;
}
.button_tmapBtn {
  font-size: 15px;
  background-color: grey;
}
