.Header {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  background-color: rgb(64, 105, 225);
}
.Header > div {
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.Header .homeBtn {
  cursor: pointer;
  width: 30px;
  color: white;
}

.Header .title {
}

.Header .empty {
  width: 50px;
}
